body {
    font-family: "DotGothic16", sans-serif;
    font-family: "Playpen Sans", cursive;
    margin: 0;
}

/* Style the top navigation bar */
.navbar {
    overflow: hidden;
    background-color: #000000;
}

/* Style the navigation bar links */
.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}


/* Change color on hover */
.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.data {
    width: 250px;
    height: 440px;
    margin-bottom: 7px;
    background-color: #FFCBCB;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 10px;
    box-sizing: border-box;
}

