body {
    font-family: "DotGothic16", sans-serif;
    font-family: "Playpen Sans", cursive;
}

.cardStyle {
    width: 250px;
    height: 440px;
    margin-bottom: 30px;
    background-color: #d983f3;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    
}

nav{
    background-color: black;
}

.cardStyle img{
    border-radius: 10px;
    margin :15px;
    
}





